.flash-message {
    border: 1px solid var(--color-grey-100);
    display: flex;
    top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(52, 54, 53, 0.3);
    cursor: pointer;

    svg {
        fill: var(--color-success);
        margin-right: 5px;
    }
}