@use "variables" as *;

.top-header {
    background-color: var(--color-grey-100);
    height: 36px;

    &__cells {
        display: grid;
        grid-template-columns: 1fr auto; /* One cell expands to the available space, the other takes only as much as it needs */
        justify-items: stretch; /* Ensure the cells stretch to take up available space */
        height: 100%;
    }

    &__cell {
        display: flex; /* Enable Flexbox on the cell */
        align-items: center; /* Vertically center the content */
        //justify-content: center; /* Optionally, if you want to horizontally center as well */
    }

    &__nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;

        li {
            display: flex;
            align-items: center;
        }

        li a {
            display: block;
            font-size: 0.9rem;
            font-weight: 500;
            color: black;

            &:not(a.google-button):hover {
                color: rgb(101, 101, 101);
            }
        }
    }

    &__description {
        font-size: 0.7rem;
        line-height: 0.7rem;
    }
}